<!-- Application Header -->
<div id="header">
	<div class="logo">
		BLACK JACK		
	</div>
</div>

<!-- Main Section -->
<div id="main">
	<%= form_for @game do |f| %>
		<%= f.submit "PLAY!", id: "create-game" %>
	<% end %>
</div>
