<!-- Application Header -->
<div id="header">
	<div class="logo">
		BLACK JACK		
	</div>
</div>

<!-- Main Section -->
<div id="main">
	<div id="deck">
		<b>Deck</b>
		<br>
		<span id="deck-count">0</span>
		<span>🃟</span>
	</div>
	<div id="dealer">
		<h3>Dealer</h3>
		<div id="dealer-cards"></div>
		<div id="dealer-count"></div>
	</div>
	<div id="player">
		<h3>You</h3>
		<div id="player-cards"></div>
		<div id="player-count"></div>
	</div>
	<div id="deal">
		<button id="deal-button">Deal</button>
	</div>
	<div id="hit">
		<button id="hit-button">Hit</button>
	</div>
	<div id="stand">
		<button id="stand-button">Stand</button>
	</div>
	<div id="statistics">
		<h3>Game Statistics</h3>
		<table>
			<tr>
				<td><b>Wins:</b></td>
				<td id="wins"></td>
			</tr>
			<tr>
				<td><b>Losses:</b></td>
				<td id="losses"></td>
			</tr>
			<tr>
				<td><b>Pushes:</b></td>
				<td id="pushes"></td>
			</tr>
			<tr>
				<td><b>Win Rate:</b></td>
				<td id="win-rate"></td>
			</tr>

		</table>
	</div>
</div>



